*{
    margin: 0;
    border: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    width: 100%;
    background-color:#f8f8f8;
}

#title{
    text-align: center;
}

h1{
    padding: 10px;
    display: inline;
    color:#b69028;
    font-size: 4.5em;
    text-align: center;
    vertical-align: middle;
}

#icon{
    vertical-align: middle;
    display: inline;
    height: 4em;
}


h2{
    color:#2b6797;
    margin: 60px 0 40px;
    font-size: 45px;
    text-align: center;
}

li{
    font-size: 20px;
    margin-top: 10px;
}


#background{
    background-size: cover;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;  
    background-image: url("../imagens/Bolo.jpg");
    background-repeat: no-repeat;
}




#container{
    padding: 80px 200px;

    height: 1200px;
    width: 600px;
    
    margin: -10em auto;

    background-color:#FFFFFF;
}


@media(max-width: 600px){

    #container{
        padding: 0;

    }
}